@charset "UTF-8";
/* リセットCSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ↓フォント指定↓ */
@font-face {
    font-family: 'APJapanesefont'; 
    src: url('font/apjapanesefont.woff') format('woff'),
         url('font/apjapanesefont.woff2') format('woff2'),
         url('font/APJapanesefont.ttf') format('truetype');
}

html{
    font-family: 'APJapanesefont'; 
    font-size:120%;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
}
th{
    font-weight: bolder;
    font-size: 110%;
}

/* 登録ボタン */
.btn-border {
    border: 2px solid #000;
    width: 100%;
    max-width: 100px;
    border-radius: 30px;
    background: #fff;
    transition: .4s;
  }
  
.btn-border:hover {
    color: #fff;
    background: #000;
  }

main h1{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    margin: 1em 0 0.67em;
}

main p{
    padding: 20px;
}

.under {
    background: linear-gradient(transparent 70%, #fcd0d8 70%);
}

table .tr-center td{
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 20px auto 50px;
}
   
.form-table {
    width: 100%;
}
/* テキストの枠線 */
#namae,#year,#month,#day,#height,#goal_weight,#goal_year,#goal_month,#goal_day,#goal_bodyfat{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc;
}
/* テキストを選択した時の色 */
#namae:focus,#year:focus,#month:focus,#day:focus,#height:focus,#goal_weight:focus,#goal_year:focus,#goal_month:focus,#goal_day:focus,#goal_bodyfat:focus{
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) ;
}
/* サンプル文字の色 */
::placeholder{
    color: rgb(173, 173, 173);
}

#pass {
    border: none; /* デフォルトの枠線を消す */
  }
  
 .error{
    text-align: center;
    padding: 30px;
}
.count{
    padding: 50px;
    text-align: center;
}
.goal{
    padding: 50px;
    text-align: center;
}

/* スマホサイズ */
@media screen and (min-width:0px) and (max-width:599px){
    .form-table td {
        display: block;
        box-sizing: border-box;
        width:100%;
        border-top: 2px solid #d7d7d7;
        padding: 20px;
        margin: auto;
    }
    
    .form-table th {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-top: 2px solid #d7d7d7;
        padding: 20px;
        background: #ffecea;
        padding-left: 10px;
        position: relative;
        text-align: left;
    }
    
    main{
        width: 100%;
    }
    
    #namae,#height,#goal_weight,#bodyfat,#goal_bodyfat{
        width: 50%;
    }
    
    #year,#month,#day,#goal_year,#goal_month,#goal_day{
        width: 20%;
    }
    }
    /* タブレットサイズ */
    @media screen and (min-width:600px) and (max-width:1024px){
    .form-table td {
        display: block;
        box-sizing: border-box;
        width:100%;
        border-top: 2px solid #d7d7d7;
        padding: 20px;
    
    }
    
    .form-table th {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-top: 2px solid #d7d7d7;
        padding: 20px;
        background: #ffecea;
        padding-left: 10px;
        position: relative;
        text-align: left;
    }
    
    main{
        width: 100%;
    }
    
    #namae,#height,#goal_weight,#bodyfat,#goal_bodyfat{
        width: 50%;
    }
    
    #year,#month,#day,#goal_year,#goal_month,#goal_day{
        width: 20%;
    }
}

/* PCサイズ */
@media screen and (min-width:1025px){
    #wrapper{
        flex-wrap:wrap;
        max-width:2000px;
        margin:0 auto;
    }
    
    main{
        width: 50%;
        margin: 0 auto;
    }
    
    .form-table td {
        padding: 20px;
    }
    
    .form-table th {
        padding: 20px;
        vertical-align: top;
        text-align: left;
        width: 150px;
    }
    
    #namae,#height,#goal_weight,#bodyfat,#goal_bodyfat{
        width: 50%;
    }
    
    #year,#month,#day,#goal_year,#goal_month,#goal_day{
        width: 20%;
    }
    }
    