@charset "UTF-8";

/* ↓フォント指定↓ */
@font-face {
    font-family: 'APJapanesefont'; 
    src: url('font/apjapanesefont.woff') format('woff'),
         url('font/apjapanesefont.woff2') format('woff2'),
         url('font/APJapanesefont.ttf') format('truetype');
}
/* ↑フォント指定↑ */

html,body,a,h1{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'APJapanesefont'; 
    font-size:130%;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
}

/* フォーム項目設定 */
.hissu{
    border-radius: 10px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 50px;
    display: inline-block;
    text-align: center;
    background: #378fb3;
    color: white;
}
/* 登録ボタン */
.btn-border {
    border: 2px solid #000;
    width: 100%;
    max-width: 100px;
    border-radius: 30px;
    background: #fff;
    transition: .4s;
  }
  
.btn-border:hover {
    color: #fff;
    background: #000;
  }

main h1{
    text-align: center;
    margin-top: 30px;
}

.under {
    background: linear-gradient(transparent 70%, #fcd0d8 70%);
}

table .tr-center td{
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 20px auto 50px;
}
   
.form-table {
    width: 100%;
}
/* テキストの枠線 */
#namae,#email,#pass,#year,#month,#day,#height,#weight{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #9b9a9a;
}
/* テキストを選択した時の色 */
#namae:focus,#email:focus,#pass:focus,#year:focus,#month:focus,#day:focus,#height:focus,#weight:focus{
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) ;
}
/* サンプル文字の色 */
::placeholder{
    color: rgb(173, 173, 173);
}

#pass {
    border: none; /* デフォルトの枠線を消す */
  }



@media screen and (min-width:841px){

	#wrapper{
		flex-wrap:wrap;
		max-width:2000px;
		margin:0 auto;
	}

    main{
        width: 60%;
        margin: 0 auto;
    }
    
    .form-table td {
        padding: 20px;
    }
       
    .form-table th {
        padding: 20px;
        vertical-align: top;
        padding-left: 50px;
        text-align: left;
        width: 200px;
    }
    
    #height,#weight{
        width: 50%;
    }

    #year,#month,#day{
        width: 20%;
    }

}

/* regist1.phpのページcss */
.table-check {
    border-collapse: collapse;
    border: solid 2px rgb(0, 0, 0);
  }
.table-check td {
    border: dashed 1px rgb(0, 0, 0);
    padding: 20px;
  }

  .table-check th {
    border: dashed 1px rgb(0, 0, 0);
    background-color: #ffdbedc5;
    padding: 20px;
    text-align: left;
  }
 