@charset "UTF-8";
/* リセットCSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ↓フォント指定↓ */
@font-face {
    font-family: 'APJapanesefont'; 
    src: url('font/apjapanesefont.woff') format('woff'),
         url('font/apjapanesefont.woff2') format('woff2'),
         url('font/APJapanesefont.ttf') format('truetype');
}

html{
    font-family: 'APJapanesefont'; 
    font-size:130%;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
}

th{
    font-weight: bolder;
    font-size: 110%;
}
.annotation{
    line-height: 30px;
    font-size: 90%;
}

/* フォーム項目設定 */
.hissu{
    border-radius: 10px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 50px;
    display: inline-block;
    text-align: center;
    background: #378fb3;
    color: white;
}
/* 登録ボタン */
.btn-border {
    border: 2px solid #000;
    width: 100%;
    max-width: 100px;
    border-radius: 30px;
    background: #fff;
    transition: .4s;
  }
  
.btn-border:hover {
    color: #fff;
    background: #000;
  }

main h1{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    margin: 1em 0 0.67em;
}

.under {
    background: linear-gradient(transparent 70%, #fcd0d8 70%);
}

table .tr-center td{
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 20px auto 50px;
}
   
.form-table {
    width: 100%;
}
/* テキストの枠線 */
#namae,#email,#pass,#year,#month,#day,#height,#weight, #comment, #tel{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc;
}
/* テキストを選択した時の色 */
#namae:focus,#email:focus,#pass:focus,#year:focus,#month:focus,#day:focus,#height:focus,#weight:focus, #comment:focus,#tel:focus{
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) ;
}
/* サンプル文字の色 */
::placeholder{
    color: rgb(192, 190, 190);
}

#pass {
    border: none; /* デフォルトの枠線を消す */
  }

/* スマホサイズ */
@media screen and (min-width:0px) and (max-width:599px){
.form-table td {
    display: block;
    box-sizing: border-box;
    width:100%;
    border-top: 2px solid #d7d7d7;
    padding: 20px;
    margin: auto;
}

.form-table th {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-top: 2px solid #d7d7d7;
    padding: 20px;
    background: #ffecea;
    padding-left: 10px;
    position: relative;
    text-align: left;
}

main{
    width: 100%;
}

#height,#weight{
    width: 50%;
}

#year,#month,#day{
    width: 20%;
}
}
/* タブレットサイズ */
@media screen and (min-width:600px) and (max-width:1024px){
.form-table td {
    display: block;
    box-sizing: border-box;
    width:100%;
    border-top: 2px solid #d7d7d7;
    padding: 20px;

}

.form-table th {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-top: 2px solid #d7d7d7;
    padding: 20px;
    background: #ffecea;
    padding-left: 10px;
    position: relative;
    text-align: left;
}

main{
    width: 100%;
}

#height,#weight{
    width: 50%;
}

#year,#month,#day{
    width: 20%;
}
}
/* PCサイズ */
@media screen and (min-width:1025px){
#wrapper{
    flex-wrap:wrap;
    max-width:2000px;
    margin:0 auto;
}

main{
    width: 50%;
    margin: 0 auto;
}

.form-table td {
    padding: 20px;
}

.form-table th {
    padding: 20px;
    vertical-align: top;
    text-align: left;
    width: 200px;
}

#height,#weight{
    width: 50%;
}

#year,#month,#day{
    width: 15%;
}

.form-table .birth{
    text-align: right;
    padding-top: 0;
}
.form-table #birth{
    padding-bottom: 0;
}
.form-table .comment{
    width: 250px;
}
}

/* regist1.phpのページcss */
.table-check {
    border-collapse: collapse;
    border: solid 2px rgb(0, 0, 0);
  }
.table-check td {
    border: dashed 1px rgb(0, 0, 0);
    padding: 20px;
  }

  .table-check th {
    border: dashed 1px rgb(0, 0, 0);
    background-color: #ffdbedc5;
    padding: 20px;
    text-align: left;
  }
 .error{
     text-align: center;
 }

 .sukima{
     padding: 20px 0;
 }
 .regist-check{
     width: 70%;
 }